/*
## Hawkpass
## Strong random password generator
## Created by: Petros Kalogiannakis (@kalpetros)
## Created: 20 August 2015
## Updated: 24 April 2016
## Licence: MIT
*/
/* Sticky footer */
body {
	 display: flex;
	 min-height: 100vh;
	 flex-direction: column;
 }
 main {
	 flex: 1 0 auto;
 }
 /* Preferences */
#options p {
	display: inline-block;
	margin-left: 2%;
}
/* Entropy bar */
.entropy_bar {
	height: 200px;
}
.entropy_bar > div {
	background-color: rgba(63, 81, 181, 0.5);
  height: 100%;
}
